<div class="container">

  <div class="text-center kusyaru">
    <h1>About</h1>
    <p>宝石図鑑は順位付けが可能です。</p>
    <p>鉱石好きの会員さんが楽しく投稿出来るよう、</p>
    <p>充実した機能を備えております。</p>
    <p>また、鉱石の詳細は興味深い豆知識が書かれております。</p>
    <p>ぜひご投稿ください。</p>
  </div>

  <div class = "text-center mb-5" >
    <%= image_tag "rubyman.jpeg", size: "200x200" %>
  </div>

</div>