<div class="container">
  <div class="row">
    <div class="col-md-10">
      <!--後々ジャンル検索を入れる-->

      <div class="mx-auto">
        <!--ボックス-->
        <div class="card">
          <!--画像-->
          <img src="assets/gensekitati.jpg", style="width: 100%; height: 300px;">
          <!--要素の中央揃え-->
          <div class="d-flex justify-content-center align-items-center card-img-overlay">
            <!--文字の要素-->
            <div class="tex-left border border-dark p-3 mb-2 bg-white">
              <p>ようこそ、宝石の楽園へ!</p>
              <p>このサイトは鉱石に興味ある方のサイトになります。</p>
              <p>会員でない方の鉱物閲覧はできますが、</p>
              <p>手持ちの鉱石を順位付けするには会員登録が必要です。</p>
            </div>

          </div>
        </div>
      </div>

      <!--鉱石の画像-->
      <h1>新着鉱石</h1>
      <div class="container-fluid">
       <div class="row">

          <!--鉱石の繰り返し処理-->
          <div class='col-md-12 d-flex flex-row'>
            <% @ores.each do |ore| %>
              <div class="col-md-3">
                <%= link_to ore_path(ore.id) do %>
                  <%= image_tag ore.image, size: "200x200" %>
                <% end %><br>
                <% ore.stone %>
              </div>
            <% end %>
          </div>
        </div>

          <div class="text-right">
            <%= link_to "全ての商品を見る>", ores_path %>
          </div>

      </div>

    </div>
  </div>
</div>