@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.ness{
      background-color: #ADB9CA;
      height: 50px;
}


.ness2{
        background-color: #ADB9CA;
        height: 250px;
}

.nazuti{
        background-color: rgba(255,255,255,0.5);
}

.gazou{
        width: 100px;
        height: 300px;
}

.kusyaru{
        line-height: 1rem;
}

.teo{
     background-color: #DDD;
}