@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.ness{
      background-color: #ADB9CA;
      height: 70px;
}


.ness2{
        background-color: #ADB9CA;
        height: 250px;
}

.nazuti{
        background-color: rgba(255,255,255,0.5);
}

.gazou{
        width: 100px;
        height: 300px;
}

.kusyaru{
        line-height: 1rem;
}

.teo{
     background-color: #DDD;
}

.kirin{
       margin-bottom: 200px;
}

.messi{
      background-color: #DDD;
      height: 50px;
}

.atora{
      background-color: rgba(255,215,0,0.5);
}

.haku{
      background-color: rgba(255,255,255,0.5)
}

table.sora{
      border: 2px #000000 solid;
}

.baba{
        background-color: #CCFFFF;
        width: 25%;
}

.haba{
        width: 75%;
}

.madoka{
        background-color: #F2F2F2;
        height: 50px;
}

.seki{
      background-color: rgba(192,192,192,0.5);
}

.god{
      background-color: #FFCC99;
}

.domon{
        background-color: rgba(245,206,64,0.5);
}

.suiheisen{
            width: 70%;
            margin: auto;
}