@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.ness{
      background-color: #ADB9CA;
    //   分からないからメンターに聞く
      background-image: url('../images/housekinokuni.png');
    //   background-position: 160px;
      background-repeat: repeat;
      height: 110px;
}


.ness2{
        background-color: #ADB9CA;
        background-image: url('../images/housekinokuni.png');
        background-repeat: repeat;
        height: 250px;
}

.nazuti{
        background-color: rgba(255,255,255,0.5);
}

.gazou{
        width: 100px;
        height: 300px;
}

.kusyaru{
        line-height: 1rem;
}

.teo{
     background-color: #DDD;
}

.kirin{
       margin-bottom: 200px;
}

.messi{
      background-color: #DDD;
      height: 50px;
}

.atora{
      background-color: rgba(243,152,0,0.5);
}

.haku{
      background-color: rgba(255,255,255,0.5);
}

table.sora{
      border: 2px #000000 solid;
}

// テーブルの幅と行
th.sora,td.sora{
            border: solid 2px #000000;
            padding: 10px;
            text-align: center;
            background-color: rgba(171,206,216,0.4);
}

.baba{
        background-color: #CCFFFF;
        width: 25%;
}

.haba{
        width: 75%;
}

.madoka{
        background-color: #F2F2F2;
        height: 50px;
}

.seki{
      background-color: rgba(192,192,192,0.5);
}

.god{
      background-color: #FFCC99;
}

.domon{
        background-color: rgba(2,135,96,0.5);
}

.suiheisen{
            width: 70%;
            margin: auto;
}

// 見出しの文字サイズ用
.pikari{
          font-size: 30px;
}

.atiti{
        padding-left: 0px;
}

// テーブル幅
.doyon{
        width: 150px;
}

table.dessize{
      border: 2px #206865 solid;
}

table.sandlock{
      border: 2px #FF002A solid;
}

.rei{
        background-color: #A22041;
        color: #FFFFFF;
}

table.havyarms{
                border-collapse: collapse;
                width: 100%;
                table-layout: fixed;
}

.araya{
      background-color: rgba(77,67,152,1);
}

th.kaiki,td.kaiki{
            border: solid 2px #000000;
            padding: 10px;
            text-align: center;
}

th.kairi2,td.kairi2{
            border: solid 2px #EB6238;
            padding: 10px;
            text-align: center;
}

.atora2{
      background-color: rgba(243,152,0,1);
}

.sisyou{
        background-color: rgba(255,219,79,0.5);
        text-align: center;
}

.hikarian{
            background-color: rgba(28,48,92,0.8);
}

.tyuubu{
        text-align: center;
}

.zurasi{
        margin-left: 15px;
}

.houtou{
        border-bottom: dotted 2px #F8B500;
        display: inline-block;
}

.rio{
        color: #2A2223;
        font-weight: bold;

}

// グラデーション上手く行かない
// main{
//       background: linear-gradient(rgba(203,205,205,0.5),rgba(245,106,41,0.5);
// }